// @import (less) "node_modules/overlayscrollbars/css/OverlayScrollbars.min.css";
/* https://fonts.google.com/specimen/Roboto?selection.family=Roboto:300,400,500,700 https://www.fontsquirrel.com/tools/webfont-generator */

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // background-color: #f5f5f5;
  background-color: transparent;
  // border-radius: 2px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  // background-color: #f5f5f5;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202);
  border-radius: 3px;

  // transition: background 1s ease-in-out;
  &:hover {
    cursor: pointer;
  }

  // border: 2px solid #555555;
}

.main-container {
  cursor: default;
}

.advanced-editor {
  height: 100%;
  padding: 0 5px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% auto;
  cursor: default;

  .editor__header {
    padding: 10px 0px;
    z-index: 20;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .editor {
    min-height: 300px;
    overflow-y: auto;
    margin-top: 68px;
    margin-bottom: 20px;
    // font-family: "Segoe UI, helvetica, arial, sans-serif";
    // position: relative;

    .editor__bottom-panel {
      margin-top: 0.5rem;
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      align-items: center;
    }

    .editor__new-table {
      button {
        margin-left: 1rem;
      }
    }

    .editor__actions {
      text-align: right;
      //   align-self: flex-end;
      *:not(:first-child) {
        margin-left: 4rem;
      }
    }
  }

  &.preview-hidden {
    grid-template-rows: 100%;
    .editor {
      margin-bottom: 0px;
    }
  }
}

// .editor {

// }

.visual-tables {
  height: 100%;

  overflow-y: auto;
  //   background: rgb(163, 161, 245);
  margin-bottom: 8px;
}

.edit-table {
  overflow-x: auto;
  padding: 16px 8px;
  .edit-table__table-name {
    margin-bottom: 1rem;
  }
  .edit-table__columns {
    // padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // align-items: center;
    justify-content: stretch;

    .edit-table__column {
      text-align: center;
      background: #f1f1f1;
      margin: 4px;
      padding-top: 4px;
      border-top: 2px solid rgb(199, 199, 199);
    }

    &.edit-table__columns--table {
      > .edit-table__column {
        border: 2px solid rgb(199, 199, 199);
        border-radius: 4px;
        margin: 0 4px;
        background: white; // crimson;
      }
      //   background: grey;
      //   margin: 0.5rem;
    }

    // &.edit-table__columns--column {
    //   //   flex-wrap: nowrap;
    // }
  }
}

.display-table {
  // table-layout: fixed;
  // width: 100%;
  transform: scale(1);
  transform-origin: 0% 0% 0px;
  border-collapse: collapse;
  // margin-bottom: 16px;
  font-family: Roboto, helvetica, arial, sans-serif;
  th,
  td,
  tr {
    // border: 1px solid gray;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
  }

  th.empty-header-col {
    border: none;
  }
  th {
    &.display-table__header-cell {
      // padding: 2px 4px;
      font-weight: normal;
      display: block;
      height: 100%;
      margin: 0;
    }
  }
  th.grouping-column__header,
  td.grouping-column__value {
    padding-left: 4px;
    padding-right: 4px;
  }

  // .data-row {
  //   td {
  //     &:hover {
  //       background: red;
  //     }
  //   }
  // }

  td.data-cell__empty {
    text-align: center;
    font-style: italic;
    font-size: 0.85rem;
    padding: 6px 0;
    // border: 1px solid #5d5d5d;
    // background: #f1f1f1;
    font-weight: 600;
    color: #3e3c3c;
  }
  //td {
  // display: inline-block;
  // padding: 2px 4px;
  // border: none;
  //}

  th > div.resize {
    resize: horizontal;
    overflow: auto;
    // width: 120px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    // border: 1px solid black;
    display: block;
  }
}

.starter-message {
  height: 400px;
  min-width: 200px;
  overflow: auto;
  color: #3e3b4a;

  h4 {
    background: rgb(213, 221, 247);

    padding: 6px 8px;
  }
  p {
    font-size: 0.9rem;
  }

  ul {
    margin: 0;
    padding: 0;
    // list-style-type: circle;
    li {
      margin-left: 4px;
      margin-bottom: 4px;
      font-size: 0.85rem;
      em {
        font-weight: bold;
      }
    }
  }
}
